input {
  width: 8rem;
}

.add-ability-score {
  margin-top: .5rem;
}

.add-as-btn {
  font-size: small !important;
  background-color: #121212;
}

.ability-score-wrapper {
  color: white;
}

.ability-score-wrapper {
  width: 10rem;
  padding: 1rem;
  background-color: #121212;
}

.edit-form {
  width: 7rem;
  cursor: pointer;
}

.edit-pencil {
  cursor: pointer;
}

.score-wrapper {
  background-color: #6c757d;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 1rem;
  display: inline-flex;
  justify-content: space-between;
  width: 8rem;
}

.score-field {
  width: 8rem;
  border-radius: 0.25rem;
  background-color: lightgray;
}



#score {
  color: black;
  background-color: white;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
